<div class="banner-container">
     <header>
      <nav id="desktop">
       <div class="nav-title-wrapper">
        <a href="#" id="logo">Deguzman</a>
       </div> 
       <div class="nav-menu-wrapper"> 
        <ul> 
          <li><a href="#">About</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">Contact Us</a></li> 
        </ul>
       </div>
      </nav>
      <nav id="mobile"></nav>
     </header>
</div>
<div class="about-container">
 <h1 id="about">ABOUT</h1>
 <div class="pic-wrapper">
  <%= image_tag 'profile-pic.jpg', id: 'pic' %> 
 </div>
 <div class="information-container">
   <div class="fullname-wrapper">
    <br>
    <p id="fullname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fullname:</b> Alejandro Gacuma. De Guzman</p>
   </div>
   <div class="age-wrapper">
    <br>
    <p id="age">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Age:</b> 21</p>
   </div>
 </div>
</div>